asgiref==3.7.2
Django==5.0.3               #pip install django
django-cors-headers==4.3.1  #pip install django-cors-headers
djangorestframework==3.14.0 #pip install djangorestframework
pillow==10.3.0              #pip install pillow
pytz==2024.1
sqlparse==0.4.4
tzdata==2024.1
